{% embed "base.html.twig" with {title: 'Mon profil | Succès'} %}

    {% block body %}
        <div class="container">
            <h2>Succès</h2>
            <p>Nombre de tutoriels terminés : <strong>{{ nb_finished_tutorials }}</strong></p>
            <ul class="achievements">
                {% for achievement in achievements %}
                    {% set userAchievement = user_achievements_repo.achievement(app.user, achievement) %}
                    {% if (achievement.secret and userAchievement is not null) or (not achievement.secret) %}
                        <li class="achievement {{ (userAchievement is not null) ? 'completed' }}">
                            <div class="thumbnail">
                                <img src="{{ achievement.icon }}" alt="">
                            </div>
                            <div class="content">
                                <h3>{{ achievement.secret ? "<i class='secondary'>[SECRET]</i> - "|raw }}{{ achievement.title }}
                                    {% if userAchievement is not null %}
                                        <span>Obtenu le {{ userAchievement.unlockedAt|date('d/m/Y') }}</span>
                                    {% endif %}
                                </h3>
                                <p>{{ achievement.description }}</p>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endblock %}

    {% block javascripts %}
        <script>
            let i = 0;
            $('.achievement').each(function() {
                let achievement = $(this);
                if(achievement.hasClass('completed')) {
                    $(this).addClass('animated').addClass('fadeInLeft').css({'visibility': 'visible', 'animation-delay': i + "ms", 'animation-duration': '500ms'})
                } else {
                    $(this).addClass('animated').addClass('fadeInLeftNotCompleted').css({'visibility': 'visible', 'animation-delay': i + "ms", 'animation-duration': '500ms'})
                }
                i += 300;
            })
        </script>
    {% endblock %}

{% endembed %}
