{% for page in pages %}
    <a class="{% if app.request.attributes.get('_route') == page %}active{% endif %} item">{{ page }}</a>
{% endfor %}
<div class="brand">
    <a href="{{ path('homepage') }}"
       class="item {{ route_name == "homepage" ? 'active' }}">{{ app_name }}</a>
</div>

<div class="menu">
    <a href="" class="item {{ route_name == "tutoriel" ? 'active' }}">Tutoriels</a>
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a class="item {% if route_name starts with "admin" %}active{% endif %}" href="{{ path('admin_index') }}">Administration</a>
    {% endif %}
    {% if app.user %}
        <a href="{{ path('my_profile') }}" class="item profile">Mon profil</a>
        <a href="{{ path('logout') }}" class="item">Se déconnecter</a>
    {% else %}
        <a class="item login" href="{{ path('login') }}">Connexion / Inscription</a>


    {% endif %}
</div>