<nav class="main-nav">
    <div class="menu-container">
        {% for page in pages %}
            <a class="{% if app.request.attributes.get('_route') == page %}active{% endif %} item">{{ page }}</a>
        {% endfor %}
        <div class="menu">
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>
            <div class="brand">
                <a href="{{ (app.user) ? path('index') : path('homepage') }}">Tutotoformes</a>
            </div>
            <div class="items">
                <a href="{{ path('tutoriel_list') }}"
                   class="item">Tutoriels</a>
                <a href="{{ path('contact') }}" class="item">Contact</a>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="item"
                           href="{{ path('admin_index') }}">Administration</a>
                    {% endif %}
                {% endif %}
                {% if app.user %}
                    <a href="{{ path('my_profile') }}" class="item login">
                        <span>&nbsp;Mon profil</span>
                    </a>
                    <a href="{{ path('logout') }}" class="item logout"><i class="fa fa-power-off"></i></a>
                {% else %}
                    <a class="item login" href="{{ path('login') }}">
                        <span>&nbsp;S'inscrire / Se connecter</span>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
    <ul id="mobile-menu">
        <li>
            <a href="{{ path('homepage') }}"
               class="item">Accueil</a>

        </li>
        <li>
            <a href="{{ path('tutoriel_list') }}"
               class="item">Tutoriels</a>

        </li>
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="item"
                       href="{{ path('admin_index') }}">Administration</a>
                </li>
            {% endif %}

        {% endif %}
    </ul>
</nav>

