<a style="color: inherit" href="{{ path('tutoriel_summary_show', {'slug': tutoriel.slug }) }}">
    <div class="tutoriel">
        {% if tutoriel.thumbnailLink is null or tutoriel.thumbnailLink == '' %}
            <h3 class="tutoriel-title">{{ tutoriel.title }}</h3>
        {% else %}
            {% if tutoriel.thumbnailLink starts with 'http' %}
                <img src="{{ tutoriel.thumbnailLink }}" alt="" class="thumbnail">
            {% else %}
                <img src="{{ vich_uploader_asset(tutoriel, 'thumbnailFile') }}" alt="" class="thumbnail">
            {% endif %}
        {% endif %}
        <div class="overlay"></div>
        <div class="informations">
            <h3 class="title">{{ tutoriel.title }}</h3>
            <div class="subtitle">{{ tutoriel.subtitle }}</div>
            <div class="metas">
                <span class="author">{{ tutoriel.author.username }}</span>
                <span class="date">{{ tutoriel.createdAt|date_locale }}</span>
            </div>
        </div>
    </div>
</a>