<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="Tutotoformes est une plateforme de tutoriel en ligne. Venez et partager vos connaissances avec le monde entier !">
    <meta name="theme-color" content="#39bb88"/>

    {% block head %}{% endblock %}

    <title>{% block title %}{{ app_name }} - {{ title|default('Accueil') }}{% endblock %}</title>
    {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ asset('dist/app.css') }}?v={{ 'now'|date('Ymdhis') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}?v={{ 'now'|date('Ymdhis') }}">
    {% endif %}
    {% block stylesheets %}{% endblock %}


</head>
<body>

<header class="fixed">
    {{ render(controller('AppBundle:Default:menu')) }}
</header>


{% if app.session.flashbag.peekAll|length > 0 %}
    <div class="flashbags animated fadeInRight">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="{{ type ? type : '' }}">
                    <i class="fa fa-close"></i>
                    <p>{{ message|raw }}</p>
                    <i class="background-icon"></i>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
<main {% if app.request.attributes.get('_route') != "homepage" %}class="pusher"{% endif %}>
    {% block body %}{% endblock %}
</main>

<footer>
    <div class="container">
        <div class="content">
            <div class="brand">
                <h3>Tutotoformes</h3>
                <img src="{{ asset('assets/img/learning.svg') }}" alt="">
            </div>
            <div class="sitemap">
                <ul>
                    {% if not app.user %}
                        <li><a href="{{ path('login') }}">Se connecter / S'inscrire</a></li>
                    {% else %}
                        <li><a href="{{ path('my_profile') }}">Mon profil</a></li>
                    {% endif %}
                    <li><a href="{{ path('tutoriel_list') }}">Nos tutoriels</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_index') }}">Administration</a></li>
                    {% endif %}
                    <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                    <li><a href="#">Conditions générales d'utilisations</a></li>
                </ul>
            </div>
        </div>
        <div class="credits">Site réalisé par : Omar <strong>&nbsp;JBARA&nbsp;</strong> | Erwann <strong>&nbsp;LETUE&nbsp;</strong> | Alexandre <strong>&nbsp;MASSÉ&nbsp;</strong></div>
    </div>

</footer>

{% if app.environment == 'prod' %}
    <script src="{{ asset('dist/bundle.js') }}?{{ 'now'|date('Ymdhis') }}"></script>
{% else %}
    <script src="{{ asset('js/jquery-2.1.4.js') }}"></script>
    <script src="{{ asset('js/tinymce.js') }}"></script>
    <script src="{{ asset('js/prism.js') }}"></script>
    <script src="{{ asset('js/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}?v={{ 'now'|date('Ymdhis') }}"></script>

{% endif %}

{% block javascripts %}{% endblock %}

</body>

</html>
