<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#39bb88"/>

    {% block head %}{% endblock %}

    <title>{% block title %}{{ app_name }} - {{ title|default('Accueil') }}{% endblock %}</title>

    {#<link rel="stylesheet" href="{{ asset('styles/normalize.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('styles/css/font-awesome.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('styles/animate.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('styles/grillade.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('styles/mce.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('styles/prism.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('styles/app.css') }}">#}
    <link rel="stylesheet" href="{{ asset('dist/app.css') }}?{{ 'now'|date('Ymdhis') }}">
    {% block stylesheets %}{% endblock %}


</head>
<body>

<header class="fixed">
    {{ render(controller('AppBundle:Default:menu')) }}
</header>


{% if app.session.flashbag.peekAll|length > 0 %}
    <div class="flashbags animated fadeInRight">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="{{ type ? type : '' }}">
                    <i class="fa fa-close"></i>
                    <p>{{ message|raw }}</p>
                    <i class="background-icon"></i>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
<main {% if app.request.attributes.get('_route') != "homepage" %}class="pusher"{% endif %}>
    {% block body %}{% endblock %}
</main>

<footer>
    &copy; {{ 'now'|date('Y') }} - Tutotoformes
</footer>

{#<script src="{{ asset('js/jquery-2.1.4.js') }}"></script>#}
{#<script src="{{ asset('js/tinymce.js') }}"></script>#}
{#<script src="{{ asset('js/prism.js') }}"></script>#}
{#<script src="{{ asset('js/jquery.sticky-kit.min.js') }}"></script>#}
{#<script src="{{ asset('js/app.js') }}"></script>#}
<script src="{{ asset('dist/bundle.js') }}?{{ 'now'|date('Ymdhis') }}"></script>
{% block javascripts %}{% endblock %}

</body>

</html>
