<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="Tutotoformes est une plateforme de tutoriel en ligne. Venez et partager vos connaissances avec le monde entier !">
    <meta name="theme-color" content="#39bb88"/>

    {% block head %}{% endblock %}

    <title>{% block title %}{{ app_name }} - {{ title|default('Accueil') }}{% endblock %}</title>
    {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ asset('dist/app.css') }}?v={{ 'now'|date('Ymdhis') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}?v={{ 'now'|date('Ymdhis') }}">
    {% endif %}
    {% block stylesheets %}{% endblock %}


</head>
<body>

<header class="fixed">
    {{ render(controller('AppBundle:Default:menu')) }}
</header>


{% if app.session.flashbag.peekAll|length > 0 %}
    <div class="flashbags animated fadeInRight">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="{{ type ? type : '' }}">
                    <i class="fa fa-close"></i>
                    <p>{{ message|raw }}</p>
                    <i class="background-icon"></i>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
<main {% if app.request.attributes.get('_route') != "homepage" %}class="pusher"{% endif %}>
    {% block body %}{% endblock %}
</main>

<footer>
    &copy; {{ 'now'|date('Y') }} - Tutotoformes
</footer>

{% if app.environment == 'prod' %}
    <script src="{{ asset('dist/bundle.js') }}?{{ 'now'|date('Ymdhis') }}"></script>
{% else %}
    <script src="{{ asset('js/jquery-2.1.4.js') }}"></script>
    <script src="{{ asset('js/tinymce.js') }}"></script>
    <script src="{{ asset('js/prism.js') }}"></script>
    <script src="{{ asset('js/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}?v={{ 'now'|date('Ymdhis') }}"></script>

{% endif %}

{% block javascripts %}{% endblock %}

</body>

</html>
