{% embed 'base.html.twig' %}



    {% block body %}



        <div class="jumbotron">
            {% if app.user %}
                <div class="heading">
                    <h1>Bienvenue, {{ app.user.username }}</h1>
                    <p>C'est cool de te revoir mon bon ami !</p>
                </div>
                <a href="{{ path('login') }}" class="button  icon large primary"><span class="icon"><i
                                class="fa fa-graduation-cap"></i></span>Suivi de
                    mes cours</a>
            {% else %}
                <div class="heading">
                    <h1>Venez sur notre site</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil officiis provident quidem
                        repellendus. Aliquid asperiores fuga illo ipsum iure magnam natus nulla quod reprehenderit,
                        sunt. Accusamus explicabo non unde!</p>
                </div>
                <a style="width: 300px;" href="{{ path('login') }}" class="button inversed large primary">S'inscrire</a>
            {% endif %}

        </div>
        <div class="arrow-separator"></div>
        <section id="tutoriels">

            <div class="container">
                <h2>Les derniers tutoriels</h2>
                <div class="tutoriels">
                    {% for tutoriel in last_tutoriels %}
                        <a style="color: inherit" href="{{ path('tutoriel_summary_show', {'slug': tutoriel.slug }) }}">
                            <div class="tutoriel">
                                <div class="overlay"></div>
                                <img src="{{ tutoriel.thumbnailLink }}" alt="" class="thumbnail">
                                <div class="informations">
                                    <h3 class="title">{{ tutoriel.title }}</h3>
                                    <div class="subtitle">{{ tutoriel.subtitle }}</div>
                                    <div class="metas">
                                        <span class="author">{{ tutoriel.author.username }}</span>
                                        <span class="date">{{ tutoriel.createdAt|date_locale }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="spacer"></div>
                <div class="center">
                    <a href="" class="button primary medium">Voir tous les tutoriels</a>
                </div>
            </div>
        </section>





        {#<div class="container">#}
        {#<hr class="separator">#}
        {#<h2>Les derniers tutoriels</h2>#}
        {#<div class="tutoriels"></div>#}
        {#</div>#}

    {% endblock %}


{% endembed %}