{% embed 'base.html.twig' with {title: tutoriel.title ~ ' - Sommaire'} %}

    {% block body %}
        <div class="jumbotron">
            <div class="heading tutoriel">
                <h1>{{ tutoriel.title }}</h1>
                <p>{{ tutoriel.subtitle }}</p>
                <div class="metas">
                    <span class="author">{{ tutoriel.author.username }}</span><span
                            class="date">{{ tutoriel.createdAt|date('d/m/Y') }}</span><span
                            class="time">{{ tutoriel.duration }} minutes</span>
                </div>
            </div>
        </div>
        <div class="arrow-separator"></div>
        <div class="container">
            <div class="tutoriel-summary">
                {{ tutoriel.description|raw }}
            </div>
            {% if tutoriel.tutorialPages|length > 0 %}
                <div class="spacer"></div>
                <div class="summary">
                    <ol class="titles">
                        {% for page in tutoriel.tutorialPages %}
                            <li>
                                <h3>
                                    <a href="{{ path('tutoriel_show', {'slug_page': page.slug, 'slug': tutoriel.slug}) }}">{{ page.title }}</a>
                                </h3>
                                {% if page.subparts|length > 0 %}
                                    <ol class="subtitles">
                                        {% for subpart in page.subparts %}
                                            <li>
                                                <a href="{{ path('tutoriel_show', {'slug_page': page.slug, 'slug': tutoriel.slug}) }}{{ subpart['anchor_name'] is defined ? '#' ~ subpart['anchor_name'] : '' }}">{{ subpart.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>

                </div>
                <div class="spacer"></div>
                    {% if app.user %}
                        {% if tutoriel.userProgression(app.user) %}
                            <div class="spacer"></div>
                            <div class="center">
                                {% if tutoriel.userProgression(app.user).hasCompletedTutoriel(tutoriel) %}
                                    <a class="button primary large"
                                       href="{{ path('tutoriel_show', {'slug_page': next_page.slug, 'slug': tutoriel.slug}) }}">Revoir
                                        le cours</a>
                                {% elseif tutoriel.userProgression(app.user).hasStartedTutoriel %}
                                    <a class="button primary large"
                                       href="{{ path('tutoriel_show', {'slug_page': last_unreaded_slug, 'slug': tutoriel.slug}) }}">Reprendre
                                        le cours</a>
                                {% else %}
                                    <a class="button primary large"
                                       href="{{ path('tutoriel_show', {'slug_page': next_page.slug, 'slug': tutoriel.slug}) }}">Commencer
                                        le cours</a>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="spacer"></div>
                            <div class="center">
                                <a class="button primary large"
                                   href="{{ path('tutoriel_show', {'slug_page': next_page.slug, 'slug': tutoriel.slug}) }}">Commencer
                                    le cours</a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="spacer"></div>
                        <div class="center">
                            <a class="button primary large"
                               href="{{ path('tutoriel_show', {'slug_page': next_page.slug, 'slug': tutoriel.slug}) }}">Avoir un aperçu du cours</a>
                        </div>

                    {% endif %}

                    {% if app.user %}
                        {% if  (is_granted('ROLE_WRITER') and app.user == tutoriel.author) or is_granted('ROLE_ADMIN') %}
                            <div class="spacer"></div>
                            <div class="center">
                                <a href="{{ path('admin_tutoriel_edit', {'id': tutoriel.id}) }}"
                                   class="button primary large"><i class="fa fa-edit">&nbsp;&nbsp;</i>Éditer
                                    le cours</a>
                            </div>

                        {% endif %}
                    {% endif %}
            {% else %}
                <h1>Aucunes pages disponible</h1>
            {% endif %}

        </div>
    {% endblock %}

{% endembed %}