{% embed 'base.html.twig' with {title: tutoriel.title ~ ' - Sommaire'} %}

    {% block body %}
        <div class="jumbotron">
            <div class="heading tutoriel">
                <h1>{{ tutoriel.title }}</h1>
                <p>{{ tutoriel.subtitle }}</p>
                <div class="metas">
                    <span class="author">{{ tutoriel.author.username }}</span><span class="date">{{ tutoriel.createdAt|date('d/m/Y') }}</span>
                </div>
            </div>
        </div>
        <div class="arrow-separator"></div>
        <div class="container">
            <div class="tutoriel-content">
                {{ tutoriel.description|raw }}
            </div>
            {% if tutoriel.tutorialPages|length > 0 %}
                <div class="spacer"></div>
                <div class="summary">
                    <ol class="titles">
                        {% for page in tutoriel.tutorialPages %}
                            <li>
                                <h3><a href="{{ path('tutoriel_show', {'slug_page': page.slug, 'slug': tutoriel.slug}) }}">{{ page.title }}</a></h3>
                                {% if page.subparts|length > 0 %}
                                    <ol class="subtitles">
                                        {% for subpart in page.subparts %}
                                            <li><a href="{{ path('tutoriel_show', {'slug_page': page.slug, 'slug': tutoriel.slug}) }}{{ subpart['anchor_name'] is defined ? '#' ~ subpart['anchor_name'] : '' }}">{{ subpart.title }}</a></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>

                </div>
                <div class="spacer"></div>
                <div class="center">
                    {% if app.user %}
                        <a href="{{ path('tutoriel_show', {'slug_page': next_page.slug, 'slug': tutoriel.slug}) }}" class="button primary medium">Commencer le cours</a>
                        {% if app.user and ((is_granted('ROLE_WRITER') and app.user == tutoriel.author) or is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('admin_tutoriel_edit', {'id': tutoriel.id}) }}" class="button icon secondary medium"><span class="icon"><i class="fa fa-edit"></i></span>Éditer le cours</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('login') }}" class="button primary medium">Inscrivez vous pour commencer le cours</a>
                    {% endif %}
                        </div>
            {% else %}
                <h1>Aucunes pages disponible</h1>
            {% endif %}

        </div>
    {% endblock %}

{% endembed %}