{% embed 'base.html.twig' with {title: tutoriel.title ~ ' - ' ~ page.title} %}
    {% set current_page_slug = app.request.attributes.get('slug_page') %}

    {% block body %}
        <div class="jumbotron">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="container">
            <div class="page-slug" style="display: none;">{{ page.slug }}</div>
            <div class="grid has-gutter">
                <div class="sidebar">
                    <div class="page summary">
                        <a href="{{ path('tutoriel_summary_show', {'slug': tutoriel.slug}) }}"><i class="fa fa-home">
                                &nbsp;&nbsp;</i>Sommaire</a>
                    </div>
                    {% for page in tutoriel.tutorialPages %}
                        {% set page_url = path('tutoriel_show', {'slug_page': page.slug, 'slug': tutoriel.slug}) %}
                        <div class="page{{ (current_page_slug == page.slug) ? ' active' }} {% if tutoriel.userProgression(app.user) and page.slug in tutoriel.userProgression(app.user).completedPages %}complete{% endif %}">
                            {% if page.subparts|length > 0 %}<i
                                class="fa fa-angle-right {{ (current_page_slug == page.slug) ? 'unfolded' }}">
                                    &nbsp;</i>{% endif %}
                            <a href="{{ page_url }}">{{ page.pageNumber ~ ' - ' ~ page.title }}</a>
                            {% if page.subparts|length > 0 %}
                                <div class="subpages {% if app.request.attributes.get('slug_page') == page.slug %}visible{% endif %}">
                                    {% for subpage in page.subparts %}
                                        <div class="subpage"><a
                                                    {% if subpage.anchor_name is defined %}data-to="{{ subpage.anchor_name }}"{% endif %}
                                                    href="{{ page_url }}{% if subpage.anchor_name is defined %}#{{ subpage.anchor_name }}{% endif %}">{{ loop.index ~ " - " ~ subpage.title }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="progress">
                        <i class="fa fa-clock-o">&nbsp;&nbsp;&nbsp;</i>
                        <div class="progressbar-tutoriel">
                            <div class="progressbar-bg {% if tutoriel.userProgression(app.user) and tutoriel.tutorialPages|length == tutoriel.userProgression(app.user).completedPages|length %}complete{% endif %}"
                                 style="width: {{ tutoriel.userProgression(app.user) ? tutoriel.userProgression(app.user).progression : '0' }}%"></div>
                        </div>
                        <div class="progressbar-text">{{ tutoriel.userProgression(app.user) ? tutoriel.userProgression(app.user).progression : '0' }}%</div>
                    </div>
                </div>
                <div class="tutoriel-content two-thirds">
                    <div class="navigation">
                        <div class="left">
                            {% if prev_page %}
                                <a href="{{ path('tutoriel_show', {'slug_page': prev_page.slug, 'slug': tutoriel.slug}) }}">
                                    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ prev_page.title }}
                                </a>
                            {% else %}
                                <a href="{{ path('tutoriel_summary_show', {'slug': tutoriel.slug}) }}"><i
                                            class="fa fa-home">&nbsp;&nbsp;</i>Sommaire</a>
                            {% endif %}
                        </div>

                        <div class="right">
                            {% if next_page %}

                                <a href="{{ path('tutoriel_show', {'slug_page': next_page.slug, 'slug': tutoriel.slug}) }}">{{ next_page.title }}
                                    &nbsp;&nbsp;
                                    <i class="fa fa-arrow-right"></i></a>
                            {% endif %}
                        </div>

                    </div>
                    {{ page.content|raw }}
                    <div class="navigation">
                        <div class="left">
                            {% if prev_page %}
                                <a href="{{ path('tutoriel_show', {'slug_page': prev_page.slug, 'slug': tutoriel.slug}) }}">
                                    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ prev_page.title }}
                                </a>
                            {% else %}
                                <a href="{{ path('tutoriel_summary_show', {'slug': tutoriel.slug}) }}"><i
                                            class="fa fa-home">&nbsp;&nbsp;</i>Sommaire</a>
                            {% endif %}
                        </div>

                        <div class="right">
                            {% if next_page %}

                                <a href="{{ path('tutoriel_show', {'slug_page': next_page.slug, 'slug': tutoriel.slug}) }}">{{ next_page.title }}
                                    &nbsp;&nbsp;
                                    <i class="fa fa-arrow-right"></i></a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="spacer"></div>
                    {% if app.user and ((is_granted('ROLE_WRITER') and app.user == tutoriel.author) or is_granted('ROLE_ADMIN')) %}
                        <div class="center">
                            <a href="{{ path('admin_tutoriel_page_edit', {'id': tutoriel.id, 'slug_page': page.slug}) }}"
                               class="button medium primary"><i class="fa fa-edit">&nbsp;&nbsp;</i>Éditer
                                la page</a>
                        </div>

                    {% endif %}
                    {% if app.user %}
                        {% if tutoriel.userProgression(app.user) %}
                            {% if page.slug not in tutoriel.userProgression(app.user).completedPages %}
                                <form action="{{ path('tutoriel_mark_page_as_complete', {'slug': tutoriel.slug, 'slug_page': page.slug}) }}"
                                      method="post">
                                    <div class="spacer"></div>
                                    <div class="center">
                                        <button id="markButton" class="button primary medium"><i
                                                    class="fa fa-check-circle">&nbsp;&nbsp;</i>J'ai compris
                                        </button>
                                    </div>

                                </form>
                            {% else %}
                                <form action="{{ path('tutoriel_unmark_page_as_complete', {'slug': tutoriel.slug, 'slug_page': page.slug}) }}"
                                      method="post">
                                    <div class="spacer"></div>
                                    <div class="center">
                                        <button id="markButton" class="button primary medium"><i
                                                    class="fa fa-remove">&nbsp;&nbsp;</i>Je n'ai pas compris
                                        </button>
                                    </div>

                                </form>
                            {% endif %}
                        {% else %}
                            <form action="{{ path('tutoriel_mark_page_as_complete', {'slug': tutoriel.slug, 'slug_page': page.slug}) }}"
                                  method="post">
                                <div class="spacer"></div>
                                <div class="center">
                                    <button id="markButton" class="button primary medium"><i
                                                class="fa fa-check-circle">&nbsp;&nbsp;</i>J'ai compris</button>
                                </div>

                            </form>
                        {% endif %}
                    {% else %}
                        <form action="{{ path('tutoriel_mark_page_as_complete', {'slug': tutoriel.slug, 'slug_page': page.slug}) }}"
                              method="get">
                            <div class="spacer"></div>
                            <div class="center">
                                <button id="markButton" class="button primary medium"><i
                                            class="fa fa-check-circle">&nbsp;&nbsp;</i>J'ai compris
                                </button>
                            </div>

                        </form>
                    {% endif %}
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <h2>Commentaires</h2>
                    {% if app.user %}
                        <form action="{{ path('tutoriel_page_add_comment', {'id_page': page.id, 'slug': tutoriel.slug}) }}" method="post">
                            <div class="field">
                                <textarea name="_message" id="" cols="10" rows="5" placeholder="Écrivez votre commentaire"></textarea>
                            </div>
                            <div class="spacer"></div>
                            <button class="button primary medium">Poster</button>
                        </form>
                    {% endif %}
                    <div class="comments">
                        {% for comment in page.comments|reverse %}
                            <div class="comment">
                                <div class="comment-author">
                                    {{ comment.author.username }}
                                </div>
                                <div class="comment-message">
                                    {{ comment.message }}
                                </div>
                                <div class="comment-metas">
                                    <span>Le {{ comment.createdAt|date('d/m/Y, à H:i') }}</span>
                                </div>
                                {% if is_granted('ROLE_ADMIN') or comment.author == app.user %}
                                <form action="{{ path('tutoriel_page_delete_comment', {'id': comment.id, 'id_page': page.id, 'slug': tutoriel.slug}) }}" method="post">
                                    <button class="button primary small" type="submit"><i class="fa fa-close">&nbsp;&nbsp;</i>Supprimer</button>
                                </form>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>

    {% endblock %}

    {% if tutoriel.thumbnailLink != "" %}
        {% block stylesheets %}
            <style>
                {% if tutoriel.thumbnailLink starts with 'http' %}
                .jumbotron {
                    background: url({{ tutoriel.thumbnailLink }}) center center no-repeat no-repeat;
                }
                {% else %}
                .jumbotron {
                    background: url({{ vich_uploader_asset(tutoriel, 'thumbnailFile') }}) center center no-repeat no-repeat;
                }
                {% endif %}
            </style>
        {% endblock %}
    {% endif %}

{% endembed %}