{% embed 'base.html.twig' with {title: tutoriel.title ~ ' - ' ~ page.title} %}

    {% block body %}
        <div class="container">
            <h1>{{ page.title }}</h1>
            <div class="tutoriel-content">
                {{ page.content|raw }}
            </div>
            <div class="navigation">
                    <div class="left">
                        {% if prev_page %}
                        <a href="{{ path('tutoriel_show', {'slug_page': prev_page.slug, 'slug': tutoriel.slug}) }}">
                            <i class="fa fa-arrow-left"></i>{{ prev_page.title }}
                        </a>
                        {% else %}
                            <a href="{{ path('tutoriel_summary_show', {'slug': tutoriel.slug}) }}">Revenir au sommaire</a>
                        {% endif %}
                    </div>
                    <div class="right">
                        {% if next_page %}
                        <a href="{{ path('tutoriel_show', {'slug_page': next_page.slug, 'slug': tutoriel.slug}) }}">{{ next_page.title }}
                            <i class="fa fa-arrow-right"></i></a>
                        {% endif %}
                    </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}